<footer class="app-footer">
  <div class="app-footer-copyright">
    &copy; {{ vm.generated_year|safe }} <a class="app-footer-author" href="https://polprog.pl/" target="_blank">POLPROG</a>.
    <span data-i18n="ui.footer.rights">All rights reserved.</span>
  </div>
  <div class="app-footer-tools">
    <span data-i18n="ui.footer.built_with">Dashboard built with</span>
    <a class="app-footer-brand" href="https://github.com/polprog-tech/ReleasePilot" target="_blank">ReleasePilot</a>
    v{{ vm.app_version|safe }}
  </div>
</footer>
