<script>
{% include '_scripts_data.html.j2' %}
{% include '_scripts_i18n.html.j2' %}
{% include '_scripts_state.html.j2' %}
{% include '_scripts_utils.html.j2' %}
{% include '_scripts_changes.html.j2' %}
{% include '_scripts_artifacts.html.j2' %}
{% include '_scripts_wizard.html.j2' %}
{% include '_scripts_guide.html.j2' %}
{% include '_scripts_init.html.j2' %}
</script>
